.cart {
    height: 30px;
    width: 30px;
    color: white;
    
}

.card {
    background-color: rgb(222, 225, 223);
    align-items: center;
}

.imgDetail {
    height: 300px;
    width: 450px;
}

.imgPequenia {
    height: 100px;
    width: 125px;
}